.bg-form {
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
}
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #ff5151;
}
.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.minimize:hover {
    -fx-background-color: #c5273f;
}
.login-btn {
    -fx-background-color: linear-gradient(to bottom right, #35529d, #2371d0);
    -fx-background-radius   : 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #4d9a76, #45b796);
}
.hyperlink {
    -fx-underline: false;
    -fx-text-fill: #fb6363;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.hyperlink:hover{
    -fx-text-fill: #e17d7d;
}
.signInText {
    -fx-text-fill: #fcfcfc;
}
.textFill {
    -fx-background-color: transparent;
    -fx-text-inner-color: #fff;
    -fx-border-color: #d63333;
    -fx-border-width: 0px 0px .4px 0px;
    
}
.textFill:focused {
    -fx-border-color: #fb6363;
    -fx-border-width: 0px 0px 1px 0px;
}
.signup-btn {
    -fx-background-color: linear-gradient(to bottom right, #35529d, #2371d0);
    -fx-background-radius   : 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
.signup-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #4d9a76, #45b796);
}
.custom-style {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}